.basicStyling {
  text-align: center;
  background-color: black;
  height: 100%;
  margin: auto;
}

.card {
  text-align: center;
  display: inline-table;
  background-color: lightsteelblue;
  border-radius: 20px;
  opacity: .75;
  width: 75%;
  margin: 10px;
}

.fullShot {
    background-image: url('./images/joao-barbosa-G0EOSG4ScWM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
}

.navbar {
  background-image: url('./images/KMaster6.png');
  background-repeat: no-repeat;
  background-position:70% 53%;
  background-size: 110%;
  margin: 5px;
}

.navButton {
  background-color: darkred;
  width: 100px;
  text-align: center ;
  transition: width 2s, background-color 1s;
  /* display: inline-block; */
}

.navButton:hover {
  width: 200px;
  background-color: skyblue;
}

.parallax {
  /* The image used */
  background-image: url('./images/FreeVector-Music-Notes-Vector-Background.jpg');

  /* Set a specific height */
  min-height: 100px; 
  


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.show {
  color: white;
}

input {
  width: 30%
}

a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
