.basicStyling {
  text-align: center;
  background-image: url('./images/joao-barbosa-G0EOSG4ScWM-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 12in;
  height: 100%;
}

.fullShot {
    background-image: url('./images/joao-barbosa-G0EOSG4ScWM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
}

.navbar {
  text-align: center;
  align-content: center;
  background-image: url('./images/klimakesLOGO.png');
  background-size: cover;
}

.navButton {
  background-color: darkolivegreen;
  width: 100px;
  text-align: center ;
  transition: width 2s;
  /* display: inline-block; */
}

.navButton:hover {
  width: 200px
}

input {
  width: 30%
}

a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
