.basicStyling {
  text-align: center;
}

.navbar {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: grey; 
}

.navButton {
  background-color: darkolivegreen;
  width: 100px;
  text-align: center ;
  transition: width 2s;
  /* display: inline-block; */
}

.navButton:hover {
  width: 200px
}

input {
  width: 30%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
